@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Nate Baker";
}

    <div class="container">
        <h1>Nate Baker</h1>
        <img src="img/saltFlats.JPG" width="500" />
        <p>

        </p>
        <h3>Top #3 Job interests</h3>
        <ul>
            <li>Full Stack Engineer</li>
            <li>Software Engineer</li>
            <li>Data Analyst</li>
        </ul>
        
    </div>